body{
    background-color: rgb(252, 169, 211);
}

button#topplace{
    border: none;
    margin-top: 1%;
    width: 100%;
    height: 40%;
    background: url("barrarosa3.png");
    background-size: cover;
}

#topplace{
    border: none;
    margin-top: 1%;
    width: 100%;
    min-height: 50%;
    background: url("barrarosa.png");
    background-size: cover;
}

#topbar{
    float: left;
    width: 70%;
    height: 2%;
    color:rgb(255, 255, 255);
}

#barra_inicial{
    width: 90%;
    height: 10%;
    float:inherit;
}

#texto_inicial{
    font-weight: bolder;
    text-align: center;
    margin-top: 4.8%;
    font-size: 200%;
}

#mensagemlogin{
    text-align: left;
    margin-top: 17%;
    font-size: 120%;
    font-weight: bolder;
    color: rgb(255, 0, 149);
}

#coracao{
    float:right;
    width: 17%;
    margin-right: 5%;
    border: none;
}

/*SLIDER*/

#slider h5 {
    font-size: 30pt;
    color: rgb(252, 0, 55);
    text-shadow: rgb(173, 0, 253) 1px 1px 2px;
}

#slider p {
    font-size: 20pt;
    color: rgb(252, 0, 55);
    text-shadow: rgb(173, 0, 253) 1px 1px 2px;
}

button#nomes{
    justify-self: center;
    text-align: center;
    background-color:rgba(255, 0, 64, 0);
    width: 100%;
    border-radius: 15px;
    border: none;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-shadow: rgba(255, 0, 64, 0.473) 2px 2px 4px;
}

button#textos{
    justify-self: center;
    text-align: center;
    background-color:rgba(255, 0, 64, 0.473);
    width: 100%;
    border-radius: 15px;
    border: none;
    font-size: 80%;
    color: rgb(255, 255, 255);
}

button#detalhes{
    justify-self: center;
    text-align: center;
    background-color:rgba(255, 0, 64, 0.473);
    width: 200px;
    border-radius: 15px;
    border: none;
    font-size: 70%;
    color: rgb(255, 255, 255);
}

button#AddCarrinho {
    justify-self: center;
    text-align: center;
    background-color:rgba(255, 0, 64, 0.473);
    width: 200px;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

/*LAYOUT*/

button#botaofiltro{
    margin-left: 1%;
    position:relative;
    text-align: center;
    background-color:rgb(252, 169, 211);
    margin-top: 1%;
    width: 23%;
    height: 80px;
    border-radius: 15px;
    border:solid;
    border-style:solid;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

button#botaofiltro:hover{
    background: rgba(255, 0, 64, 0.699);
}

a:hover{
    background: rgba(255, 0, 64, 0.699);
}

button#maisopcoes{
    margin-left: 40%;
    position:inherit;
    text-align: center;
    background-color:rgb(252, 169, 211);
    margin-top: 1%;
    width: 23%;
    height: 80px;
    border-radius: 15px;
    border:solid;
    border-style:solid;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

button#maisopcoes:hover{
    background: rgba(255, 0, 64, 0.699);
}

#container {
    justify-self: center;
}

#layout1 h1 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: rgb(255, 129, 228);
}

#layout1 p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: rgb(255, 123, 123);
    text-indent: 20px;
    font-size: 16pt;
}

#layout h1 {
    text-align: center;
}

#layout1 {
    background-color: rgb(255, 123, 123);
}

button#AddCarrinho2 {
    margin-left: 18%;
    text-align: center;
    background-color:rgba(255, 0, 64, 0.473);
    width: 200px;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

button#AddCarrinho2:hover{
    background: rgba(255, 0, 64, 0.699);
}

img {
    box-shadow: rgb(255, 123, 123) 1px 1px 4px;
}

footer p {
    text-align: center;
    font-size: 20px;
}

#box {
    margin-top: -10px;
}

#box1 {
    margin: 20px;
}